.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-content
      = link_to group_messages_path(@group) do
        .chat-main__group-info__left-content__groups-name
          = @group.name
        .chat-main__group-info__left-content__members-name
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info__right-content
      = link_to 'Edit', edit_group_path(@group), class: "edit-btn"

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], class: "form-box", local: true do |f|
      .chat-main__message-form__input-box
        = f.text_field :content, class: 'input-message',placeholder: 'type a message'
        = f.label :image, class: 'image-box' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-file'
      = f.submit 'Send', class: 'send'
