.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__content
      .Side-bar__user-name__content__left-content
        = current_user.name
      .Side-bar__user-name__content__right-content
        = link_to new_group_path class: "right-content__edit-icon--edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "right-content__cog-icon--cog" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list__content
        = link_to group_messages_path(group), class: "link-style" do
          .Side-bar__group-list__content__group-name
            = group.name
          .Side-bar__group-list__content__group-message
            = group.show_last_message
